.App {
  text-align: center;
  min-height: 100vh;

}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  /* background-image: url("./images/18219.jpg"); */
  width: 100%;

}

.header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}

.title {
  background-image: url("./images/18219.jpg");
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.home-link {
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  /* overflow: hidden; */
  background-color: #333;
}

.link-button {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.create-button {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  margin: 0;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.main-container {
  background-image: url("https://files.slack.com/files-pri/T0351JZQ0-FPCJ4CYRZ/best-closet-organizer-for-shoes-wood-shelves-home-depot-organizers-hanging-rod-ideas-pictures-and-rods-storage-metal-white-linen-walk-gym-clothes-purses-bedroom-design.jpeg");
  background-size: cover;
  height: 600px;
  width: auto;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  resize: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.article-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article-container-two {
  background-color: rgba(128, 128, 128, 0.8);
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #3F334D;
  align-items: center;
  text-align: center;

}

a {
  text-decoration: none;
  color: whitesmoke;
}




.home-title {
  color: #F0F4B5;
  font-family: cursive;
  margin: 0 0 0 -35px;
  font-size: 100px;

}




.contains-form {
  background-color: rgba(128, 128, 128, 0.8);
  border: 2px solid #3F334D;
  border-radius: 25px;
  padding: 15px;
  display: inline-block;
  /* margin: 0 130px 0 -30px; */

  /* width: 50%; */

}

input {
  background-color: rgba(128, 128, 128, 0.8);
  border: 2px solid rgba(56, 27, 85, 0.4);
  border-radius: 25px;

}

select {
  color: whitesmoke;
  background-color: rgba(56, 27, 85, 0.4);
  overflow: hidden;
}


label {
  color: whitesmoke;

}

.item-button {
  color: whitesmoke;
  background-color: rgba(56, 27, 85, 0.4);
}

.article-container{
  background-color: rgba(128, 128, 128, 0.8);
  padding: 10px 30px;
  border-radius: 25px;
  border: 2px solid #3F334D;
  /* align-items: center;
  text-align: center; */
}

.create-outfit-component {
  background-color: rgba(128, 128, 128, 0.8);
  padding: 40px;
  border-radius: 25px;
  border: 2px solid #3F334D;
  align-items: center;
  text-align: center;
  /* margin: 120px 140px 0 -30px; */
  width: 330px;
  height: 280px;

  /* add: overflow: scroll */
}

.create-title {
  color: whitesmoke;
  background-color: rgba(128, 128, 128, 0.8);
}

button {
  color: black;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 0px 0px 30px 0px;
  text-align: center;

}

.footer {
  color: whitesmoke;
  display: inline-block;
  width: 400px;

  margin: 0 0 0 -30px;
  padding: 0 10px 0;

}




@media only screen and (max-width: 375px) {

  .main {
    padding: 20px 10px;
    min-height: 68vh;
    margin: 0 auto;
  }

  
    .header {
      /* background-image: url("./images/18219.jpg"); */
      height: 100px;
    }

    .title {
      background-image: url("./images/18219.jpg");
      margin: 0;
    }


    .main-container {
      background-image: url("https://files.slack.com/files-pri/T0351JZQ0-FPCJ4CYRZ/best-closet-organizer-for-shoes-wood-shelves-home-depot-organizers-hanging-rod-ideas-pictures-and-rods-storage-metal-white-linen-walk-gym-clothes-purses-bedroom-design.jpeg");
      background-size: cover;
      height: 5h00px;
      width: auto;
      max-width: none;
      margin-left: auto;
      margin-right: auto;
      resize: center;
      margin-left: -137px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .main {
      min-height: 68vh;
      margin: 0 auto;
    }

    .article-list-container {
      display: inline-flex;
      justify-content: space-evenly;
      /* background-color: green; */
      margin: 0 0 0 -32px;
      height: 150px;
      width: 400px;
      overflow-y: scroll;

    }

    .article-container {
      background-color: rgba(128, 128, 128, 0.8);
      padding: 10px;
      border-radius: 25px;
      border: 2px solid #3F334D;
      align-items: center;
      text-align: center;
    }

    .article-container-two {
      background-color: rgba(128, 128, 128, 0.8);
      padding: 10px;
      border-radius: 25px;
      border: 2px solid #3F334D;
      align-items: center;
      text-align: center;

    }

    a {
      text-decoration: none;
      color: whitesmoke;
    }




    .home-title {
      color: #F0F4B5;
      font-family: cursive;
      margin: 0 0 0 -35px;
      font-size: 100px;

    }


    .contains-form {
      background-color: rgba(128, 128, 128, 0.8);
      border: 2px solid #3F334D;
      border-radius: 25px;
      padding: 10px;
      display: inline-block;
      margin: 0 0 0 -30px;

    }

    input {
      background-color: rgba(128, 128, 128, 0.8);
      border: 2px solid rgba(56, 27, 85, 0.4);
      border-radius: 25px;

    }

    select {
      color: whitesmoke;
      background-color: rgba(56, 27, 85, 0.4);
      overflow: hidden;
    }


    label {
      color: whitesmoke;

    }

    .item-button {
      color: whitesmoke;
      background-color: rgba(56, 27, 85, 0.4);
    }

    .create-outfit-component {
      background-color: rgba(128, 128, 128, 0.8);
      padding: 10px;
      border-radius: 25px;
      border: 2px solid #3F334D;
      align-items: center;
      text-align: center;
      margin: 0 0 0 -30px;
      width: 330px;
      height: 280px;

      /* add: overflow: scroll */
    }

    .create-title {
      color: whitesmoke
    }


    /* .footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 14px 0px 30px 0px;
  text-align: center;
  
} */

    /* .footer {
  color: whitesmoke;
  display: inline-block;
  width: 400px;
  
  margin: 0 0 0 -30px;
  padding: 0  10px 0;
  
}
 */
  }




  .footer {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #333;

  }