.App {
  text-align: center;
}
.title {
  margin-top: 0;
}
.header {
  /* background-image: url("./images/18219.jpg"); */
  width: 100%;
  transition: 0.25s;
}
.scrolled {
  position: fixed;
}
.article-containers {
  background: #f9f9f9;
  padding: 5px;
}
.outfit-containers {
  background: #f9f9f9;
  padding: 5px;
}
.title {
  padding: 50 px;
}
.home-link {
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  /* overflow: hidden; */
  background-color: #333; 
}
.link-button {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.create-button {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  margin: 0;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

@media only screen and (min-width: 375px) {
  .header {
    /* background-image: url("./images/18219.jpg"); */
    height: 100px;
  }
  
  .title {
    background-image: url("./images/18219.jpg");
    margin: 0;
  }


  .main-container{
    background-image: url("https://files.slack.com/files-pri/T0351JZQ0-FPCJ4CYRZ/best-closet-organizer-for-shoes-wood-shelves-home-depot-organizers-hanging-rod-ideas-pictures-and-rods-storage-metal-white-linen-walk-gym-clothes-purses-bedroom-design.jpeg");  
    background-size: cover;
    height: 5h00px;
    width: auto;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    resize: center; 
    margin-left: -137px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    
    margin: 0 -70px 175px 100px;
  }


  .home-title {
    color:aqua;
  
  }
}

.dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
