.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



@media only screen and (min-width: 375px) {
  .main-container{
    background-image: url("https://files.slack.com/files-pri/T0351JZQ0-FPCJ4CYRZ/best-closet-organizer-for-shoes-wood-shelves-home-depot-organizers-hanging-rod-ideas-pictures-and-rods-storage-metal-white-linen-walk-gym-clothes-purses-bedroom-design.jpeg");
    background-size: cover;
    height: 500px;
    width: auto;
    max-width: none;
    /* margin-left: auto;
    margin-right: auto;
    resize: center; */
    margin-left: -137px; 
  }

  .home-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-title {
    color: pink;
    text-align: center;
  }


}

